     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./home.css">
     
    <h1>Bienvenido a la página principal</h1>
    <h2>Lista de productos</h2>
    <div class="cartDiv">
    <ul>
    {{#each products}}
        <li>
            <strong>Producto: </strong>{{this.title}}
            <strong>Precio: </strong>{{this.price}}
            <strong>Categoria: </strong>{{this.category}}
            <strong>Descripción: </strong> {{this.description}}
            <button class="add-to-cart" data-product-id="{{this._id}}">Agregar al carrito</button>
            <hr>
        </li>
    {{/each}}
    <div class="page">
        {{#if hasPrevPage}}
        <a href="products?numPage={{prevPage}}">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
           <a href="/products?numPage={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
    </ul>
</div>


<style>
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background: #0000009f;
    }

    h1,h2{
        margin-top: 100px;
        text-align: center;
        color: black
    }

    li{
        list-style: none;
        text-decoration: none;
    }

    

    .cartDiv{
        position: relative;
        left: 25%;
        margin-top: 10%;
        padding: 40px;
        width: 50%;
        height: auto;
        border-radius: 20px;
        border: 2px solid black;
    }

    button{
        float: right;
    }

    .page {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    }

</style>
<script src='/socket.io/socket.io.js'></script>
<script src="/cart.js"></script>



